-d -h `hostname` -e API_KEY=<%= @datadog_api_key -%> \
-v /proc/:/host/proc/:ro \
-v /sys/fs/cgroup::/hosts/sys/fs/cgroup:ro \
-v /var/run/docker.sock:/var/run/docker.sock \
-v /opt/dd-agent-conf.d:/conf.d:ro
